<html>
                <head>
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                <title>003 Problems when compiling C project Solution INSIDE for mac users too</title>
                </head>
                <body>
                <div class="container">
                <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="lead"><p>Double check :<br></p>

<p>1) <strong>Extension of your file </strong>- did you save your file as .<strong>cpp </strong>or .<strong>c</strong>? .<strong>cpp </strong>is the extension that is proper for you </p>









































<p>2) <strong>If you have pre-installed compiler </strong>-<strong> </strong>Have you installed the proper version of Code::Blocks with pre-installed compiler. The link on code::blocks website should be called <strong>codeblocks-16.01mingw-setup.exe</strong></p>









































<p>If by any chance you installed wrong code::blocks then please: </p>









































<p>  a) <strong>UNINSTALL </strong>current code::blocks</p>









































<p>  b) install again using below link (<strong>windows</strong>):</p>









































<p><a href="http://sourceforge.net/projects/codeblocks/files/Binaries/17.12/Windows/codeblocks-17.12mingw-setup.exe" rel="nofollow">http://sourceforge.net/projects/codeblocks/files/Binaries/17.12/Windows/codeblocks-17.12mingw-setup.exe</a><a href="http://sourceforge.net/projects/codeblocks/files/Binaries/16.01/Windows/codeblocks-16.01mingw-setup.exe" rel="nofollow"></a></p>









































<p>with the preinstalled compiler!</p>









































<p>3) <strong>Fix by one of the users</strong> (<strong>windows</strong>):</p>









































<p><em>When I open my app-library in Win10 I have to choose which CodeBlock-image to open. At first I opened the one called only 'Code Blocks', and it did not compile. <br>But now finaly I opened the 'Code Blocks (Launcher)', and it works.<br></em></p>



















<p>4)</p>











<figure><img src="https://udemy-images.s3.amazonaws.com:443/redactor/2017-01-13_10-32-21-5a50680f5ce9521230d37f0a7ca06a70/Capture.JPG"></figure>











<p>You should go to Settings -&gt; Compiler -&gt; Toolchain Executables tab, and there you can find compiler settings.</p>











<p>Try to click on "auto detect" button, it should find it automatically.</p>











<p>Mine path is set to C:\Program Files (x86)\CodeBlocks\MinGW</p>











<p>5) <strong>MAC </strong>or <strong>Windows </strong></p>











<p><strong></strong></p>



















<p>I've been informed that some users <strong>must</strong> create a project. They cannot use single file like I did.</p>



















<p><strong>How to create project:</strong></p>



















<p>File (upper left corner of code::blocks) -&gt; New -&gt; Project...</p>





















<p>Choose: Console application<br>Click on 'Next'<br>Choose: C++<br>Name project whatever you want so put in Project Title: "sample program"</p>





















<p>Click 'Finish'</p>



















<p>Now it should be fine :)</p>

















<p>BTW console is white (not black) in MAC.</p>









<p>6) <em>"there is no such file or directory" -</em> <strong>Check your folder NAME </strong></p>





<p>You shouldn't use special characters and you shouldn't use spaces especially on MAC.</p>







































<p>----------------------------------------------------------------------------------------------------------</p>





































<h4>                             Other common problems</h4>





































<p>----------------------------------------------------------------------------------------------------------</p>





































<p>I) error "<strong>C++ requires a type specifier for all declarations</strong>" </p>



<p><em>Solution</em>: some IDE requires you to add '<strong>int</strong>' before main and <strong>return 0 </strong>at the end, so your main project code should look like this:</p>







































<pre class="prettyprint linenums">? &lt;iostream&gt;

u.. s..
int main()
{

   return 0;
}</pre>















































































<p>main is a <em>function </em>(covered in future lessons), almost every function is required to start with the type that is later returned. Do not worry about it right now. Just think about it that it has to be there. I will explain it ten thousands times better in future.</p>





































<p>II) <strong>If your c</strong><strong>onsole doesn't appear</strong> or instantly dissapears after the compilation then try to add <em><strong>getchar </strong></em>command that ceases the program. This command waits for any char (character) from you before closing the console. It gives you 'artificially' time to see the result.</p>







































<pre class="prettyprint linenums">? &lt;iostream&gt;
? &lt;stdio.h&gt;

u.. s..
int main()
{

    getchar();
    return 0;
}</pre>











































































<p>You might need to include <strong>stdio.h</strong> at the top of your program to cause <strong>getchar</strong>(); command to execute. Why? because <em>getchar</em> is inside <em>stdio.h</em> - some IDEs includes stdio.h by default and there is no need to include it.</p>























<p>----------------------------------------------------------------------------------------------------------</p>























<p><strong>If you have not found your solution here then please create a discussion or contact me directly describing your problem. I'm always here to support you!</strong></p></p>
                </div>
                </div>
                </div>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                </body>
                </html>